@using PagedList.Mvc;
@model PagedList.IPagedList<BloodDonationManagementSystem.Areas.ADMIN.Models.CountViewModel>

@{
    ViewBag.Title = "Index";
}

<h3>All Organizations</h3>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p><br />
<table class="table table-striped table-bordered">
    <tr>
        <th>
            Organization Id
        </th>
        <th>
            Organization Name
        </th>
        <th>
           State
        </th>

        <th>
            Is Active
        </th>

        <th>
            Created Date
        </th>
        <th>
            Organization Email
        </th>
        <th>Registerd Donors</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.org_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.org_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isactive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a href='@Url.Action("DisplayDonor", "Admin_view_org", new { id=item.org_id})'>@item.Donorcount</a>

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.org_id,idx=item.fk_id}) |

                @Html.ActionLink("Delete", "Delete", new { id = item.org_id })
            </td>
        </tr>
    }

</table>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
