<!DOCTYPE html>
<html>
@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BLOOD DONATION MANAGEMENT SYSTEM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>*@
<head>
    <title>Rudhir By Dhruv</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link href="~/assets/css/main.css" rel="stylesheet" />
     <script src="~/bundles/modernizr"></script>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("BDMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                        <li>@Html.ActionLink("DONATE", "Contact", "Home")</li>

                        <li>@Html.ActionLink("BLOOD REQUIRED", "Count", "Home")</li>



                    </ul>
                    </div>
            </div>
        </div>*@

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="~/Home/Index">Rudhir: A BDMS</a></div>

        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            @Html.Partial("_LoginPartial")
            <li><a href="~/Home/Index">Home</a></li>

            <li><a href="~/Home/Count">Blood Required</a></li>

            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="~/Org_Details/Index">Organization </a></li>


                <li><a href="~/Indv_Donor/Index">Individual Donor</a></li>

            }
            else
            {
                <li><a href="~/Account/Login" id="don">Donate</a></li>
            }
        </ul>
    </nav>
    <div class="body-content">
        @RenderBody()

    </div>
    <hr />

    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

    <!-- Scripts -->

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/JS/click.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
        (function (d, m) {
            var kommunicateSettings = { "appId": "7c1aca2e70576db009cd390a618264dc", "popupWidget": true, "automaticChatOpenOnNavigation": true };
            var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
            window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    </script>
</body>
</html>
